# jsbで読む場合ファイルはutf-8の*.txtである必要がある
# txtはresディレクトリの下に配置する必要あり
[
  #{url : "bms/AVALON/01_avalon[light7].bme"     , title : 'AVALON [LIGHT7]'           , artist : ' Team:SASAKURATION'      , level : 5}
    
  {url : "bms/atonement/ayy2.bms"               , title : 'atonement you you'         , artist : ' '                       , level : 6}
  {url : "bms/AbsurdGaff/_abs07_00_bmssp7e.bme" , title : 'Absurd Gaff [7keys Easy]'  , artist : ' siromaru / BMSSP'       , level : 3}
  {url : "bms/AbsurdGaff/_ms_abs07_01.bme"      , title : 'Absurd Gaff [Normal]'      , artist : ' siromaru / Mentalstock' , level : 8}
  {url : "bms/AbsurdGaff/_ms_abs07_02.bme"      , title : 'Absurd Gaff [Hyper]'       , artist : ' siromaru / Mentalstock' , level : 10}
  {url : "bms/AbsurdGaff/_ms_abs07_03.bme"      , title : 'Absurd Gaff [Another]'     , artist : ' siromaru / Mentalstock' , level : 21}
  {url : "bms/Lapis - SHIKI/lapis7key.bme"      , title : 'Lapis'                     , artist : ' SHIKI'                  , level : 8}
  {url : "bms/Lapis - SHIKI/lapis7keya.bme"     , title : 'Lapis [Another]'           , artist : ' SHIKI'                  , level : 10}
  {url : "bms/Lapis - SHIKI/lapis7keyb.bme"     , title : 'Lapis [beginner]'          , artist : ' SHIKI'                  , level : 2}
  {url : "bms/Lapis - SHIKI/lapis7keyl.bme"     , title : 'Lapis [Light]'             , artist : ' SHIKI'                  , level : 5}
] 
